<div class="home__container">
    <app-card
        gameCover="assets/assets/bt-1-dif.webp"
        gameLabel="DIGITAL" 
        gameType="DIGITAL | PS4" 
        gamePrice="R$ 129,99"
        gameLink="https://www.ea.com/pt-br/games/battlefield/battlefield-1"
        >
    </app-card>
    
    <app-card
        gameCover="assets/assets/god-photo.webp"
        gameLabel="EXCLUSIVE" 
        gameType="DISC | PS5"
        gamePrice="R$ 349,90" 
        gameLink="https://www.playstation.com/pt-br/games/god-of-war-ragnarok/"
        >
    </app-card>

    <app-card
        gameCover="assets/assets/assassins-photo-1.webp"
        gameLabel="DIGITAL" 
        gameType="DIGITAL | PS4 PS5"
        gamePrice="R$ 199,99" 
        gameLink="https://www.ubisoft.com/pt-br/game/assassins-creed/odyssey"
    >
    </app-card>

    <app-card
        gameCover="assets/assets/fifa.webp"
        gameLabel="PRÉ-VENDA" 
        gameType="DIGITAL | PS4 PS5"
        gamePrice="R$ 358,90" 
        gameLink="https://www.ea.com/pt-br/games/ea-sports-fc/fc-24"
    >
    </app-card>

    <app-card
        gameCover="assets/assets/spider.avif"
        gameLabel="EXCLUSIVE" 
        gameType="DIGITAL | PS4 PS5"
        gamePrice="R$ 349,90"
        gameLink="https://insomniac.games/game/marvels-spider-man-2/" 
    >
    </app-card>

    <app-card
        gameCover="assets/assets/lords-2.avif"
        gameLabel="DIGITAL" 
        gameType="DIGITAL | PS4 PS5"
        gamePrice="R$ 279,99" 
        gameLink="https://www.deck13.com/games/lords-of-the-fallen/"
    >
    </app-card>

    <app-card
        gameCover="assets/assets/mk.avif"
        gameLabel="PRÉ-VENDA" 
        gameType="DIGITAL | PS4 PS5"
        gamePrice="R$ 299,99" 
        gameLink="https://www.mortalkombat.com/pt-br"
    >
    </app-card>
</div>